before_install:
- $TRAVIS_BUILD_DIR/travis/decrypt.sh
  "$encrypted_17be319b7fe6_key" "$encrypted_17be319b7fe6_iv"
  $TRAVIS_BUILD_DIR/snmp-exporter-service-account.json.enc
  /tmp/snmp-exporter-service-account.json
install: true
script:
- "$TRAVIS_BUILD_DIR/travis/install_gcloud.sh"
cache:
  directories:
  - "$HOME/google-cloud-sdk/"
  - "$HOME/.ssh/"
deploy:
- provider: script
  script: "$TRAVIS_BUILD_DIR/deploy_snmp_exporter.sh mlab-sandbox"
  skip_cleanup: true
  on:
    all_branches: true
